*{
    margin: 0;
}
.header-banner{
    background-image: url('./new-year-new-me/images/banner/banner1.png');
    height: 808px;
}
.banner-container{
    text-align: right;
    padding: 216px 210px 200px 845px;
}
.banner-title{
  
}
.banner-description{

    
}
.primary-btn{
  
}