* {
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Bannner styles */

.header-banner {
    background-image: url('./images/banner/banner1.png');
    background-repeat: no-repeat;
    height: 808px;
}

.banner-container {
    text-align: right;
    padding: 216px 260px 24px 876px;


}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    width: 525px;

}

.banner-description {


    font-weight: 400;
    font-size: 16px;

}

.primary-btn {
    color: white;
    background-color:rgb(249, 82, 27);
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 10px;

}
/* Failure section styles */

.my-failur{
    display: flex;
    margin: 156px 322px 104px 206px;
    gap:84px;
}

ul{
    list-style: none;
}
ul li:before {
    content: '\2714\0020';
    color: rgb(16, 185, 236);
  }
  .failure-item{
   padding: 50px;
   margin-top: 180px;
  }
  .failure-description {
    color: #444343;
  }
  ul li{
    color: #444343;
    line-height: 35px;
  }
  .failure-title{
    font-size: 40px;
    font-weight: 800;
  }
  .plans{
    display: flex;
    justify-content: center;
    margin: 0 230px 130px 230px ;
    justify-content: space-around;
  }
  .my-plans-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
  }
  .plans-item{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  .plans-description{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
  }
  .plan-image{
    margin-left: 40px;
  }
  /* Gardient styles */
  .gardient-container{
    margin: 130px 230px;
  background-image: linear-gradient( to right, #a30388 0%, rgba(0, 95, 172, 0) 100%),url('./images/watch.png');
    width: 1140px;
    height: 300px;
    

  }
  .gardient-title{
    padding: 59px 617px 55px 64px;
   
  }
  .gardient{
    font-size: 40px;
    font-weight: 700;
    color: white;

  }
  .gardient-btn{
    padding: 20px 36px;
    border: 0;
    border-radius: 10px;
    color:blue;
    font-weight: bold;
    margin-bottom: 59px;

  }
  /* Footer section styles */
  .footer-section{
    background-color:#151414;;
    gap: 330px;
  }
  .footer-container{
    display: flex;
  }
  .footer-title{
    color:white;
  }
  .footer-subscribe{
    color: white;
    font-size: 25px;
    font-weight: 600;
  }
  .footer-future{
    padding: 130px 330px 130px 230px;
    width: 485px;
  }
  .footer-description{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
  }
  .footer-mail{
    padding: 130px 230px 243px 0;
  }
  .footer-icon{
    padding-right: 15px;

  }
  .footer-contract a{
  text-decoration: none;
  color: white;
  line-height: 50px;
  }
  .footer-title{
    font-size: 45px;
    font-weight: 700;
  }
  input{
    padding: 15px;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
  }
  .sub-btn{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(0, 94, 255);
    color: white;
  }
  